[submodule "PCB/lib/kicad_lib_tmk"]
	path = PCB/lib/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "PCB/lib/keyboard_parts.pretty"]
	path = PCB/lib/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "PCB/lib/keebs.pretty"]
	path = PCB/lib/keebs.pretty
	url = https://github.com/egladman/keebs.pretty
[submodule "PCB/lib/random-keyboard-parts.pretty"]
	path = PCB/lib/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
